.services-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px 30px;
}

.services-list>.service-item {
    /* background-color: #fff; */
    margin-bottom: 30px;
    padding: 60px 40px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 12px 30px 0 #001;
    position: relative;
    transition: all 2s;
    background: linear-gradient(#59639c, #8dbe80);
}

.services-list>.service-item:hover {
    border-radius: 30%;
    background: linear-gradient(#D2A88F, #8198e5);
}

.services-list>.service-item>img {
    margin-bottom: 30px;
}

.services-list>.service-item>h4 {
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    text-transform: capitalize;
}

.services-list>.service-item>p {
    color: #777;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 26px;
}

.services-list>.service-item>a {
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 54px;
    background-color: #D2A88F;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    /* tam kad rodykle pasidaryti ant juostos */
    transition: all 1s;
    /* suletina skrola per rodykles ANIMACIJA */
}

.services-list>.service-item:hover>a {
    background-color: var(--blue-color);
}

@media(min-width: 767px) {
    .services-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1199px) {
    .services-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}