/* kintamieji naudojami globaliai: galima priskirti fonui, tekstui ir pan, */
:root {
--cream-color: #F4EFE9;
--blue-color: #086AD9;
--light-blue-color: #EFF2F7;
--grey-color: #F8F8F8;
--dark-blue-color: #072C9F;
}
